nav>ul>li {
 float: left;
 padding: 3px;
}
nav ul ul{
 display: none;
 box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
 z-index: 10;
 position: fixed;
}
nav ul li:hover > ul{
 display: block;
}
nav ul{
 background-color: #efefef;
 margin: 3px;
 padding: 0;
 list-style: none;
 position: relative;
 display: inline-table;
 text-allign: left;
}
textarea{
 z-index: 1;
 resize: none;
 overflow:scroll;
}
#bodyDiv{
 z-index: -2;
 border: 5px solid rgba(0,0,255,0.1);
 width: 667px;
 height: 541px;
 background-color: #efefef;
}